/* assets ----------------------------- */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

:root{
    --preto-1: #171717;
    --preto-2: #212121;
    --preto-3: #333;
    --preto-4: #828282;
    --branco: #f9f9f9;
    --verde: #00df5e;
}

/* reset ------------------------------ */

*{
    color: white;
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--preto-1);
}

body::-webkit-scrollbar{
    background-color: var(--preto-2);
}

::-webkit-scrollbar-thumb{
    border: 5px solid var(--preto-2);
    border-radius: 10rem;
    background-color: var(--verde);
}

html{
    font-size: 62.5%;
}

img{
    width: 20rem;
    display: block;
}

/* javascript ------------------------- */

.btn-mobile{
    display: none;
}

@media(max-width:740px){
    #link-container{
        display: none;
    }

    .btn-mobile{
        margin-bottom: 10px;
        display: block;
        height: 2px;
        width: 30px;
        background-color: var(--verde);
        border: none;
        transition: .5s
    }
    .btn-mobile::after, .btn-mobile::before{
        position: relative;
        content: '';
        display: block;
        height: 2px;
        width: 30px;
        background-color: var(--verde);
        transition: .5s;
    }
    .btn-mobile::after{
        margin-top: 10px;
    }
    .btn-mobile::before{
        margin-top: 11px;
    }

    .animar::before{
        margin: 0;
        opacity: 1;
    }

    .animar::after{
        transform: rotate(-90deg);
        position: absolute;
        top: -1rem;
    }

    .animar{
        top: 0;
        margin-top: 1rem;
        transform: rotate(45deg)
    }
}

.ativo{
    height: 14rem;
    display: block !important;
    position: absolute;
    width: 20rem;
    background: var(--preto-1);
    border: 1px solid var(--verde);
    top: 68px;
    right: 0;
    padding: 2rem 0 0 2rem;
    animation: puxa-vinheta .5s;
    z-index: 1;
}

.ativo a{
    height: 5rem !important;
}

@keyframes puxa-vinheta {
    0%{
        right: -20rem;
    }
    100%{
        right: 0;
    }
}

section, .project-card, .info-card, main{
    opacity: 0;
    margin:0;
    transform: translateX(-100%);
}

.show-section{
    opacity: 1;
    transform: translateX(0);
    transition: .5s;
}

/* header ----------------------------- */
header, main, #link-container, #info-container{
    display: flex;
}

main, #about-me, #projects, #services, #skills{
    width: 80vw;
    margin: 0 10vw;
}

header{
    width: 100%;
    background-color: var(--preto-1);
    font-size: 1.8rem;
    padding: 2rem 10%;
    justify-content: space-between;
}

h3{
    display: flex;
    align-items: center;
}

#logo{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}


#link-container a{
    color: var(--branco);
    margin: 0 2rem;
    transition: .3s;
}

#link-container a:hover{
    color: var(--verde);
}

/* main ------------------------------- */

main div div{
    display: flex;
}

main div{
    align-self: center;
}

main img{
    width: 30rem;
}

main, #about-me, #info-container, #projects, #services, #skills{
    padding-top: 5rem;
}

main{
    font-size: 1.8rem;
    justify-content: space-between;
}

h1{
    grid-column: 1;
    width: 28rem;
}

p{
    color: var(--preto-4);
}
#contact{
    border: 2px solid var(--preto-3);
}

#download, #contact{
    align-self: center;
    font-weight: 600;
    padding: 1rem 2rem;
    display: block;
    margin: 2rem 1rem 0 0;
    transition: .5s;
}

#download{
    background-color: var(--verde);
    color: var(--preto-2);
}

#contact:hover{
    background-color: var(--verde);
    color: var(--preto-1);
}

/* about me --------------------------- */

#about-me{
    background-color: var(--preto-1);
    font-size: 1.8rem;
    text-align: center;
}

#about-me-container{
    margin: 0 auto;
    grid-template-columns: max-content 40vw;
    grid-gap: 0 15vw;
    grid-template-areas: 
    "perfil h2"
    "perfil p"
    "perfil div";
}

#perfil{
    clip-path: circle();
    width: 25vw;
    grid-area: perfil;
    animation: float 4s infinite;
}

#about-me h2{
    grid-area: h2;
}

#about-me-container p{
    margin-bottom: 2rem;
    width: 100%;
    grid-area: p;
}
#about-me-container div{
    display: flex;
    grid-area: div;
    width: 100%;
}

#github, #linkedin{
    align-self: center;
    display: block;
    padding: 1rem 2rem;
    border: 2px solid var(--preto-3);
    width: 40%;
    background-color: none;
}

#github:hover::after, #linkedin:hover::after{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--verde);
    transition: .3s;
    animation: hover .5s;
}

@keyframes hover {
    0%{width: 0%;}
    100%{width: 100%;}
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-2rem);
    }
}

#github::after{
    width: 100%;
}

#github{
    margin-right: 10%;
}

h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 4rem 0 2rem 0;
}

#info-container{
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

#info-container img{
    background-color: var(--preto-2);
    border-radius: 5rem;
    padding: 1rem;
    margin: 0 auto;
    width: 4rem;
}

#info-container div{
    margin: 0 2rem;
}

/* projects --------------------------- */

#info-container, #about-me-container, #projects-container, #projects-container-main, #services-container, #skills-container{
    display: grid;
}

#projects-container, #services-container{
    margin: 0 auto;
    font-size: 1.8rem;
    grid-gap: 1rem 2rem;
    grid-template-columns: repeat(3, 1fr);
}

#projects-container-main{
    grid-gap: 1rem 2rem;
    grid-row: 1;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
}

.project-card div{
    height: auto;
    display: grid;
    grid-template: 1fr 1fr/ 2fr 1fr;
}

.project-card h5{
    align-self: center;
    grid-column: 1/3;
    font-size: 2rem;
    margin: 1rem 0;
}

.project-card{
    padding: 2rem;
    background-color: var(--preto-2);
}

.project-card img{
    width: 100%;
}

.project-card p, h5{
    align-self: center;
}

#projects-container > .project-card{
    height: 31rem;
}

#projects-container > .project-card .details{
    margin-top: 1rem;
    display: block;
    text-align: center;
}

.details{
    justify-self: end;
    background-color: var(--verde);
    color: var(--preto-2);
    font-weight: 800;
    padding: 1rem 2rem;
}

#empty{
    width: 10rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}
/* services --------------------------- */

#service-card, #services img{
    background-color: var(--preto-2);
}

#services img{
    width: 5rem;
    margin-bottom: 2rem;
}

#service-card{
    padding: 2rem;
    border-bottom: 2px solid var(--verde);
}


#services h3{
    width: 10rem;
    color: var(--preto-4);
}

/* skills ----------------------------- */

#skills-container{
    grid-template-columns: repeat(6, 1fr);
}

#skills-container img{
    width: 10rem;
    height: 10rem;
    padding: 2rem;
    background-color: var(--preto-2);
}

/* footer ----------------------------- */

footer{
    background-color: var(--preto-2);
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
}

footer p{
    color: var(--branco);
}

footer span{
    color: var(--verde);
}

/* responsive ------------------------- */

@media(max-width:990px){
    #projects-container-main{
        grid-template-columns: 1fr;
        grid-column: 1/3;
    }

    #projects-container{
        grid-template-columns: 1fr 1fr;
    }

    #skills-container{
        grid-template: 1fr 1fr / repeat(2, 1fr);
        width: max-content;
    }
    
    #skills-container{
        grid-gap: 2rem;
    }
}

@media(max-width:850px){

    main img{
        display: none;
    }

    main div{
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    h1{
        width: auto;
    }

    #download, #contact{
        margin: 2rem 1rem;
    }

    #projects, #services{
        width: 90%;
        margin: 0 auto;
    }

    #services-container{
        margin: 0 10vw;
    }

    #about-me-container p{
        font-size: 1.5vw;
    }
}

@media(max-width:740px){

    #about-me{
        opacity: 1;
        transform: translateX(0);
        transition: .5s;
    }

    #about-me-container{
        display: inline;
    }

    #perfil{
        margin: 0 auto;
    }

    #github, #linkedin{
        width: 100%;
    }

    #about-me h2, #about-me p{
        width: 80vw;
    }

    #about-me p{
        font-size: 1.2rem;
    }

    #info-container{
        grid-template-columns: 1fr 1fr;
    }

    #info-container div, #info-container p{
        width: 40vw;
    }

    #projects-container{
        grid-template-columns: 1fr;
        width: 80%;
        justify-content: center;
    }

    #projects-container-main{
        grid-column: 1/2;
    }

    #projects-container-main .details{
        grid-row: 3;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    #projects-container-main .project-card div{
        grid-template-columns: 1fr;
    }

    .project-card{
        height: auto !important;
    }
    
    #projects .project-card{
        max-width: 80vw;
        margin: 0 auto;
        height: 40rem;
    }

    #services, .empty{
        width: 100%;
    }

    /* mobile menu */

    #link-container{
        display: none;
    }

    .btn-mobile{
        display: block;
    }
}

@media(max-width:580px){
    
    #services-container{
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem 3rem;
    }

    #info-container{
        grid-template-columns: 1fr;
    }

    #info-container div{
        width: 100%;
        margin: 4rem 0 0;
    }

    #info-container p{
        width: 100%;
    }

    footer{
        font-size: 1.5rem;
    }

}

@media(max-width:450px){
    #services-container{
        grid-template-columns: 1fr;
    }
}