:root{
    --azul:#2962ff;
    --cinza-claro: #ebe9ea;
    
}
/* Reset */

*{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
    display: block;
}

/* Header & Footer */
header, footer{
    font-size: 3rem;
    text-align: center;
}

header p, footer{
    padding: 1rem 0;
    font-weight: 500;
    width: 100%;
    background-color: var(--azul);
}
header h3{
    padding: 1rem 0;
    width: 100%;
    background-color: white;
}

/* Main */

main{
    background: 
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(img/wallpaper.jpeg);
    background-size: 100% 100%;
    height: 80rem;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    margin-top: -15rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main div{
    font-size: 2.5rem;
    margin: 40rem 7% 0;
    max-width: 50rem;
    color: white;
}

h1{
    font-size: 1em;
}

h1::after{
    content:"|";
    margin-left:5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

main p{
    margin-top: 2rem;
}

/* Section 1/Shop */

.shop{
    font-size: 2.5rem;
    margin-top: 35rem;
    padding: 40px 7% 5rem;
    text-align: center;
    background-color: white;
}

.shop p{
    margin: 2rem 0 4rem 0;
}

.shop h2{
    font-size: 3rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem 1rem;
}

.container img{
    background-color: var(--cinza-claro);
}

/* Responsivo */

@media(max-width:768px){
    .container{
        grid-template-columns: repeat(3,1fr);
    }

    main{
        height: 60rem;
    }

    main div{
        margin-top: 35rem;
    }

    .shop{
        margin-top: 25rem;
    }
}

@media(max-width:600px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:425px){
    main{
        height: 60rem;
    }
    main div{
        margin-top: 33rem;
    }
    .container{
        grid-template-columns: 1fr;
    }
}