:root{
    --red: #ff4656;
    --black: #1f2326;
}

/* reset */

*{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    font-size: 62.5%;
}

img{
    display: block;
}

/* images */

.logo-icon, .logo-text, .share{
    align-self: center;
}

.logo-icon{
    width: 7rem;
}

.logo-text{
    width: 10rem;
    height: 3rem;
}

.share{
    width: 3rem;
    height: 3rem;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5vw;
}

/* main */

body{
    background-image: linear-gradient(to top left, var(--red) 45%, var(--black) 45%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

main{
    display: flex;
    justify-content: space-between;
    margin: 20vh 5vw 0;
}

h1{
    grid-column: 1/4;
    height: 5rem;
}

.container{
    display: grid;
    grid-template: 10rem 1fr/ repeat(3, 1fr);
    grid-gap: 2rem;
}
.container > div img{
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
    display: block;
    width: 12rem;
}

.container > div{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

p{
    margin-top: 1rem;
}

.main-img{
    height: 66.2vh;
    position: absolute;
    right: 5vw;
    bottom: 0;
}

.objectJS{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/* responsive */

@media(max-width:1319px){

    h1{
        margin: 0 auto;
    }

    main{
        display: block;
        align-items: center;
        width: 55rem;
        margin: 25vh auto 0;
        height: auto;
    }

    .main-img{
        display: none;
    }
}

@media(max-width:659px){
    h1{
        display: none;
    }

    main{
        margin-top: 5vh;
        width: 90vw;
    }

    .container{
        display: block;
    }

    .container div{
        width: 17rem;
        margin: 7rem auto;
    }

    .share{
        position: absolute;
        bottom: 2rem;
        left: calc(50vw - 1.5rem);
        right: calc(50vw - 1.5rem);
    }
}